# Ignore Google Drive and temporary drive upload files
.tmpdriveupload
gdrive*
Projects/Gamified Education/EduQuest/
# Ignore executables
*.exe

# Ignore object files
*.o

# Ignore build directories
/build/